<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.truevalue.dreamappeal">
    <!--인터넷-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--저장소-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--카메라-->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--  임시    android:usesCleartextTraffic="true" 모든 cleartext 트래픽은 허용처리가 됩니다.-->
    <application
            android:name=".base.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="${appName}"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <!-- AWS SERVICE 연동 -->
        <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" android:enabled="true" />

        <!-- 인트로 -->
        <activity
                android:name=".activity.ActivityIntro"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 메인 -->
        <activity
                android:name=".activity.ActivityMain"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 권한 -->
        <activity
                android:name=".activity.ActivityPermission"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 로그인 -->
        <activity
                android:name=".activity.ActivityLoginContainer"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 검색 -->
        <activity
                android:name=".activity.ActivitySearch"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 댓글 -->
        <activity
                android:name=".activity.ActivityComment"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 드림포인트 -->
        <activity
                android:name=".activity.ActivityDreamPoint"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 팔로워 -->
        <activity
                android:name=".activity.ActivityFollowCheering"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 내 프로필 -->
        <activity
                android:name=".activity.ActivityMyProfileContainer"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 이미지 갤러리 선택 -->
        <activity
                android:name=".activity.ActivityCameraGallery"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 실천 인증 추가 -->
        <activity
                android:name=".activity.ActivityAddPost"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="500e2bccf72f3906c4aee099eb1056b51a28f127" />

    </application>

</manifest>