<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.truevalue.dreamappeal">
    <!--인터넷-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--저장소-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--카메라-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
         See README(https://goo.gl/l4GJaQ) for more. -->
    <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
    <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more. -->

    <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

    <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />


    <!--  임시    android:usesCleartextTraffic="true" 모든 cleartext 트래픽은 허용처리가 됩니다.-->
    <application
            android:name=".base.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="${appName}"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <!-- AWS SERVICE 연동 -->
        <service
                android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
                android:enabled="true" />

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name" />

        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <!-- 인트로 -->
        <activity
                android:name=".activity.ActivityIntro"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- kakao native key -->
        <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="@string/kakao_native_api_key" />

        <!-- 메인 -->
        <activity
                android:name=".activity.ActivityMain"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- Credits -->
        <activity
                android:name=".activity.ActivityCredits"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 권한 -->
        <activity
                android:name=".activity.ActivityPermission"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 로그인 -->
        <activity
                android:name=".activity.ActivityLoginContainer"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 검색 -->
        <activity
                android:name=".activity.ActivitySearch"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 주소 검색 -->
        <activity
                android:name=".activity.ActivityAddrSearch"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 댓글 -->
        <activity
                android:name=".activity.ActivityComment"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 드림포인트 -->
        <activity
                android:name=".activity.ActivityDreamPoint"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 팔로워 -->
        <activity
                android:name=".activity.ActivitySFA"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 내 프로필 -->
        <activity
                android:name=".activity.ActivityMyProfileContainer"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 이미지 갤러리 선택 -->
        <activity
                android:name=".activity.ActivityCameraGallery"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 실천 인증 추가 -->
        <activity
                android:name=".activity.ActivityAddPost"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize" />

        <!-- 이미지 연동 -->
        <activity
                android:name=".activity.ActivityImgScaling"
                android:screenOrientation="portrait" />

        <!-- Rank -->
        <activity
                android:name=".activity.ActivityRank"
                android:screenOrientation="portrait" />
        <activity
                android:name=".fragment.timeline.appeal.connect_friend.PhoneContactActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeDarkStatusBar" />

        <!-- Push 연동 -->
        <service
                android:name=".service.ServiceFirebaseMsg"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="500e2bccf72f3906c4aee099eb1056b51a28f127" />

    </application>

</manifest>